@media only screen and (min-width: 1000px) {
html{
	line-height: 1.1;
	font-size:18px;
	word-spacing: 1px;
	background: #ccf;
   
}



#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff; /* change if the mask should have another color then white */
    z-index:99; /* makes sure it stays on top */
}

#status {
    width:500px;
    height:500px;
    position:absolute;
    left:40%; /* centers the loading animation horizontally one the screen */
    top:40%; /* centers the loading animation vertically one the screen */
    background-image:url(../images/load.gif); /* path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px; /* is width and height divided by two */
}
#objective {
	padding:0px  10px 10px 20px;
	font-size: 18px;
}

address{
	display: block;
	width:33%;
	line-height: 1.5;
}
#resume {

	margin-left:20%;
	margin-right:20%;
	
}
.fa{
	cursor: pointer;
}
.hide{
	display:none;
}

.show{
	display:visible;
}


/* this  rule applied to odd section element*/
#resume main{
	border:1px solid black;
	background: #DBF9FA;
	box-shadow: -10px -10px 40px black;
	margin:30px;
}

.invalid {
	border: 2px solid red;
}

#resume > main   header{
	width:auto;
	padding:20px;
	margin:0px;

	
}

#resume >main > header > h1{
	text-shadow:1px 2px 5px black;
	text-decoration: underline;
	text-transform: uppercase;
}


#resume >main section{

	
	position: relative;
	margin-top:0px;
	margin-bottom:-15px;

}

/* for even section element of main*/
#resume >main section:nth-child(even){
	background:#cfc;

}
/*for all the  direct h3 descendant of all section of main */
#resume > main  section >h3{
	width:100%;
	background:#ccf;
	text-indent:10px;
	padding:5px 0px 5px 0px;
	margin-top:0px;
	border-top:2px solid black;
	text-shadow:1px 1px 50px black;


}

/* for all li of section of main*/
#resume > main section li
{
	list-style: square;
	font-family: "times new roman";
	margin:10px 0px;
}

#resume > main section ul 
{
	margin-top:20px;
	

}

/* for all ul of li of section of main*/
#resume > main section li ul
{
	list-style: square;
	list-style-position: inside;
	margin-top:-10px;
	font-family: "times new roman";

}
/* for all li of ul of li of section of main*/
#resume > main section li ul li
{
	margin:1px;	
}

#resume >main footer{
	background: gray;
	padding:10px;
	border-top:2px solid black;
	text-align: right;
}


#resume .icons{
	padding-right: 10px;
}

#resume  header #email{
	display:inline-block;
	float:right;
}

#resume a:link{
	color:#410;
	font-weight: bold;
	text-decoration: none;
}
#resume a:hover{
	color:blue;
	text-decoration: none;
}

#resume-form {
	margin-left:20%;
	margin-right:20%;
}

#resume-form .row{
	margin-bottom: 20px;
}


#resume-form div[class="button"]{
	text-align: center;
	height: 40px;



}
#resume-form .button button:hover{
	background: #ffc;


}





#resume-form main{
	border: 2px solid black;
	border-radius: 10px;
}
#resume-form  main  h1{
	text-align: center;
    background: #abc;
	margin:0px;
	padding: 20px;
		border-bottom: 2px solid black;
}
#resume-form h3{
	background: #cfc;
	margin: 0px;
	padding: 10px;
	text-transform: uppercase;
	border-radius: 10px ;
	text-align: center;
}

#resume-form label {
	font-size:18px;
	vertical-align: middle;
	display: inline-block;
	font-family:"times new roman";
	text-transform: uppercase;
	font-weight: bold;
	margin: 10px;
}


#resume-form input{
	
    width:250px;
    height: 30px;
}

#li_tool,#li_language,#li_operatingsystem{
	position: relative;
}

#resume-form .error{
	color:red;
	font-size:10px;
}
#resume-form main section {
	display: block;
	border-bottom: 2px solid black;
	
}
#resume-form textarea{

	display: block;
	resize: none;
	
}
#resume-form .close{
	position: absolute;
	right:0px;
	top:0px;
	width: 40px;
	height:40px;
}

.rotate0{
 -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}


.rotate90{
	 -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);

}



#resume-form input[type=button] {

	
	background: #ccf;
	width:30%;
	height: 40px;
	font-size: 15px;
	font-weight: bold;
	border-radius: 20px;

}
#resume-form input[id=submit] {
	width: 100%;
	background: #cfc;
	height: 60px;
}


#resume-form  main section section{
	padding: 10px;
}
#resume-form main section section:nth-child(odd) {
	background: #ffc;
}
#resume-form main section section:nth-child(even) {

	background: #cff;
}

#resume-form main section section div{
	padding-left: 20px;
	position: relative;
}

#resume-form main section section div label{
	
}

#resume-form main section section div input,select{

	position: absolute;
	left:400px;
	
    
}
#resume-form  .language, #resume-form  .tools, #resume-form .operatingsystem{
	width:300px;
	height:100px;
	display: inline-block;
	text-align:center;
}
#resume-form .language input,#resume-form .tools input,#resume-form .operatingsystem input{
  position: absolute;
  left:0px;
  z-index: 9999;
}

#resume-form .language input[type="button"],#resume-form .tools input[type="button"],#resume-form .operatingsystem input[type="button"]{
  width:250px;
  position: absolute;
  left:0px;
  top:50px;
}

#resume-form main section section div div{
	padding: 0px;
	margin-bottom: 20px;
	margin-top: 10px;
}




}

/* this is for amll screen*/
@media  screen and (max-width: 999px) {
   html{
	line-height: 1.1;
	font-size:18px;
	word-spacing: 1px;
	background: #ccf
}
#resume {

	width:auto;
	background: #ccf;
	
}
.hide{
	display:none;
}

.show{
	display:visible;
}

/* this backgound color apploid to odd section element*/
#resume main{
	width:inherit;
	background: #DBF9FA;
	margin:30px;
}

#resume > main   header{
	width:auto;
	padding:20px;
	margin:0px;
	
}
#resume p{

}
#resume >main > header > h1{
	text-shadow:1px 2px 5px black;
	text-decoration: underline;
}

/* for all the section of main*/
#resume >main section{


	position: relative;

}

/* for even section element of main*/
#resume >main section:nth-child(even){
	background:#cfc;

}
/*for all the  direct h3 descendant of all section of main */
#resume > main  section >h3{
	width:100%;
	background:#ccf;
	text-indent:10px;
	background: gray;
	padding:5px 0px 5px 0px;
	margin-top:0px;
	border-top:2px solid black;


}

/* for all li of section of main*/
#resume > main section li
{
	list-style: square;

	font-family: "times new roman";
	word-wrap: break-word;
	margin:10px 0px;
}

#resume > main section ul 
{
	margin:20px;

}

/* for all ul of li of section of main*/
#resume > main section li ul
{
	list-style: square;
	list-style-position: inside
	margin-top: -10px;
	font-family: "times new roman";
}

#resume > main section li ul  li
{
	margin-top:1px;

}
#resume >main footer{
	background: gray;
	padding:10px;
	border-top:2px solid black;
}

#resume .icons{
	padding-right: 10px;
}

#resume  header #email{
	display: block;
	margin-top:10px;
	word-wrap: break-word;
}

#resume a:link{
	color:#410;
	font-weight: bold;
	text-decoration: none;
}
#resume a:hover{
	color:blue;
	text-decoration: none;
}
#resume-form {
	margin-left:20%;
	margin-right:20%;
}

#resume-form .row{
	margin-bottom: 20px;
}


#resume-form div[class="button"]{
	text-align: center;
	height: 40px;



}
#resume-form .button button:hover{
	background: #ffc;


}





#resume-form main{
	border: 2px solid black;
	border-radius: 10px;
}
#resume-form  main  h1{
	text-align: center;
    background: #abc;
	margin:0px;
	padding: 20px;
		border-bottom: 2px solid black;
}
#resume-form h3{
	background: #cfc;
	margin: 0px;
	padding: 10px;
	text-transform: uppercase;
	border-radius: 10px ;
	text-align: center;
}

#resume-form label {
	font-size:18px;
	vertical-align: middle;
	display: inline-block;
	font-family:"times new roman";
	text-transform: uppercase;
	font-weight: bold;
	margin: 10px;
}


#resume-form input{
	
    width:250px;
    height: 30px;
}
#resume-form main section {
	display: block;
	border-bottom: 2px solid black;
	
}
#resume-form textarea{

	display: block;
	width:90%;
	
}

#resume-form input[type=button] {

	
	background: #ccf;
	width:30%;
	height: 40px;
	font-size: 15px;
	font-weight: bold;
	border-radius: 20px;

}

#resume-form  main section section{
	padding: 10px;
}
#resume-form main section section:nth-child(odd) {
	background: #ffc;
}
#resume-form main section section:nth-child(even) {

	background: #cff;
}

#resume-form main section section div{
	padding-left: 20px;
	position: relative;
}

#resume-form main section section div label{
	
}

#resume-form main section section div input,select{

    display: block;
	text-transform: uppercase;

    
}
#resume-form  .language, #resume-form  .tools, #resume-form .operatingsystem{
	width:300px;
	height:100px;
	display: inline-block;
	text-align:center;
}
#resume-form .language input,#resume-form .tools input,#resume-form .operatingsystem input{
  position: absolute;
  left:0px;
  z-index: 9999;
}

#resume-form .language input[type="button"],#resume-form .tools input[type="button"],#resume-form .operatingsystem input[type="button"]{
  width:250px;
  position: absolute;
  left:0px;
  top:50px;
}

#resume-form main section section div div{
	padding: 0px;
	margin-bottom: 20px;
	margin-top: 10px;
}


}


@media print {

#resume .fa{
	display: none;
}

}
