
<!DOCTYPE html> 


<!-- 
   This document is designed using concept of html5 . 
   in html5 we have more semantic tag having more meaning  
   .There is only on type of dtd in html5 and several new tag 
   and api are introduced in html5.Also for supporting html5 tag 
   in IE9 and less.we are using HTML5Shiv .cdn is avalilable at
   <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
-->
<html lang="en-US">
  
   <head>
    <title>Resume</title>
      <meta charset="UTF-8" />
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <![endif]-->
      <link rel="stylesheet" type="text/css" href="css/style.css">

      <!-- link for css file used for the icons used in page-->

      <link rel="stylesheet" href="resources/font-awesome/css/font-awesome.min.css">
      <meta name="keywords" content="resume,riteshbisht,developer" /> 
      <meta name="description" content="ritesh bisht resume" />
      <meta name="author" content="Ritesh Bisht" />
      <!-- refresh page at every 30 seconds -->
    <!--  <meta http-equiv="refresh" content="30" /> -->

   </head>
   <body id="resume" ">
     <div id="preloader">
    <div id="status">&nbsp;</div>
</div>
   <script id="noresumeTemplate" type="text/x-jQuery-tmpl">
      <h1>Please Visit <a href="form.html">HERE </a> To Build Your Resume</h1>
   </script>
   <script id="resumeTemplate" type="text/x-jQuery-tmpl">
 
      <main>
         <header id="header">
            <h1 id="name">${firstname} ${lastname}</h1>
           <p><span id="phone"><b>PH:</b>${phone}</span><span id="email"><b>Email:</b>${email}</span></p>
            <address id="address"><b>ADDRESS:</b>${address}
            </address>
            <p id="dob"><b>DOB:</b> ${dob}</p>
         </header>
         <section>
             <h3><span class="icons" ><i class="fa fa-dot-circle-o" aria-hidden="true"></i></span >CAREER OBJECTIVE<span onclick="Resume.showHideData(this)"><i class="fa fa-chevron-circle-down rotate0" aria-hidden="true"></i></span></h3>
              <p id="objective" class="hide">${objective}</p>
         </section>
         <section>
            <h3 ><span class="icons"><i class="fa fa-graduation-cap" aria-hidden="true"></i></span>EDUCATIONAL QUALIFICATIONS<span onclick="Resume.showHideData(this)"><i class="fa fa-chevron-circle-down rotate0" aria-hidden="true"></i></span></h3>
            
               <ul class="hide" id="educations" >
                    {{if educations}}
                      {{each educations}}   
                       <li><h4>${name}</h4>
                         <ul>
                            <li>${year}</li>
                            <li>${university}</li>
                            <li>${percentage}</li>  
                         </ul>
                       </li>

                      {{/each}}
                      {{/if}}
               </ul>
           
         </section>
       
         <section>
            <h3 ><span class="icons " ><i class="fa fa-suitcase" aria-hidden="true"></i></span>PROJECTS(<a href="http://www.github.com/riteshbisht" target="_blank">Github Profile</a>)<span onclick="Resume.showHideData(this)"><i class="fa fa-chevron-circle-down rotate0" aria-hidden="true"></i></span></h3>
            <ul class="hide" id="projects">
             {{if projects}}
              {{each projects}}
                <li>${project}</li>
             
              {{/each}}

            {{/if}}
              </ul>
         </section>
         <section>
            <h3 ><span class="icons "><i class="fa fa-laptop" aria-hidden="true"></i></span>TECHNICAL SKILLS<span onclick="Resume.showHideData(this)"><i class="fa fa-chevron-circle-down rotate0" aria-hidden="true"></i></span></h3>
            <ul class="hide" id="skills">
             {{if skills}}
                  
                  
                      <li><b>Languages:</b>
                    {{each skills.language}}
                     <i> ${$value},</i>
                    {{/each}}
               
              </li>
         <li><b>Skills:</b> {{each skills.tools}}
                     <i> ${$value},</i>
                    {{/each}}
               </li>
            <li><b>Tools:</b>{{each skills.operatingSystem}}
                     <i> ${$value},</i>
                    {{/each}}
               </li>
            {{/if}}
            </ul>
         </section>
      
         <section >
            <h3><span class="icons" ><i class="fa fa-tags" aria-hidden="true"></i></span >WORKSHOP AND ADDITIONAL EXPERIENCES<span onclick="Resume.showHideData(this)"><i class="fa fa-chevron-circle-down rotate0" aria-hidden="true"></i></span></h3>
            <ul class="line-height-2 hide" id="workshops">
            {{if workshops}}
              {{each workshops}}
                <li>${workshop}</li>
              {{/each}}

            {{/if}}
                 </ul>
         </section>
         <section >
            <h3> <span class="icons"><i class="fa fa-user-plus" aria-hidden="true"></i></span>HOBBIES<span onclick="Resume.showHideData(this)"><i class="fa fa-chevron-circle-down rotate0" aria-hidden="true"></i></span></h3>
            <ul id="hobbies" class="hide">
               {{if hobbies}}
              {{each hobbies}}
                <li>${hobby}</li>
              {{/each}}

            {{/if}}
            </ul>
         </section>
         <footer >
            
          <span class="icons"><i class="fa fa-copyright" aria-hidden="true"></i></span>  Created by Ritesh bisht
         </footer>
      </main>
      </script>
         <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.4.4.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
 
        <script type="text/javascript" src="js/script.js"></script>
        <script>
        $(document).ready(Resume.init());
        </script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

        <!-- Preloader -->
<script type="text/javascript">
    //<![CDATA[
        $(window).on('load', function() { // makes sure the whole site is loaded 
            $('#status').fadeOut(); // will first fade out the loading animation 
            $('#preloader').delay(1000).fadeOut('slow'); // will fade out the white DIV that covers the website. 
            $('body').delay(350).css({'overflow':'visible'});
        })
    //]]>
    
    </script>
    <!-- Preloader -->
   </body>

</html>


